{% extends 'teacher/base.html' %}
{% block content %}
    <div
    <div class="col-md-12" style="position: relative;">
            <div id="chat-body" class="panel panel-default">
                <div class="panel-heading">Чат</div>
                <div id="msg-list-div" class="panel-body">
                    <ul id="msg-list" class="list-group">
                        {% for obj in chat %}
                            {% if obj.user == request.user %}
                                <li class="text-right list-group-item">
                                    {{ obj.first_name }}<br>
                                    {{ obj.message }}
                                </li>
                            {% else %}
                                <li class="text-left list-group-item">{{ obj.message }}</li>
                            {% endif %}
                        {% empty %}
                            <li class="text-right list-group-item">No messages yet!</li>
                        {% endfor %}
                        <script>
                            var chatlist = document.getElementById('msg-list-div');
                            chatlist.scrollTop = chatlist.scrollHeight;
                        </script>
                    </ul>
                </div>
            </div>
            <form id="chat-form" method="post" action="/post/" style=" margin-bottom: 0;">
                <div id="chat-bottom" class="input-group">
                    <input type="text" autocomplete="off" id="chat-msg" name="chat-msg" class="form-control"/>
                    <input type="hidden" value="{{ g.id }}" name="group" id="group"/>
                    <span class="input-group-btn">
                    <input class="btn btn-default" id="send" type="submit" value="Отправить"/>
                    </span>
                </div>
            </form>
        </div>
{% endblock %}
{% block script %}
 {% endblock %}